<% @page_title = "このサイトについて" %>

<h1><%= @page_title %></h1>

<p>このサイトはWebcampProを卒業した人限定のコミュニティーサイトです。</p>
<p>会員になるための条件（WebcampProを卒業すること、ただし、見込みも可）</p>
<p>①1ヶ月目の最終課題のgithubのURL</p>

<p>①を記載の上、〇〇のメールアドレスにお送りください。確認の上、会員登録させていただき、ログインに必要な情報を返信します。</p>

<p>②2ヶ月目でチーム開発したgithubのURL</p>
<p>③3ヶ月目のポートフォリオのgithubのURLか作ったサイトのURL</p>
<p>②、③に関しては完成次第、マイアカウントの紹介欄に載せていただけると幸いです。</p>

<p>プログラミングのお役立ち情報や知っておいた方が得な情報などなど自由に投稿ください。</p>