<% @page_title = @article.title %>
<h1><%= @article.title %></h1>
<div class="single-page">
	<%= auto_link simple_format(@article.body) %>
</div>

<div class="article-footer">
  <%= @article.released_at.strftime("%Y/%m/%d %H:%M") %>
</div>
