<% @page_title = "管理ページトップ" %>
<h1 class="admin-top-title">管理画面Topページ</h1>
<ul class="admin-top-list">
	<li><%= link_to "会員管理", :admin_members %></li>
	<li><%= link_to "ニュースの管理", :admin_articles %></li>
</ul>