<nav class="menubar" id="admin-menubar">
	<div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
	  <ul>
	    <%= menu_link_to "管理TOP", :admin_root %>
	    <%= menu_link_to "会員管理", :admin_members %>
	    <%= menu_link_to "ニュース管理", :admin_articles %>
	    <%= menu_link_to "TOP", :root %>
	  </ul>
	</div>
  </div>
</nav>
