<% @page_title = "マイアカウント" %>

<div class="border-none">
	<h1><%= @page_title %></h1>
</div>

<ul class="toolbar">
  <%= menu_link_to "アカウント情報の編集", :edit_account %>
  <%= menu_link_to "パスワードの変更", :edit_password %>
</ul>

<div class="myacount-table">
	<%= render "members/body" %>
</div>


